
#**Topic to be covered**
## Missing Values
## Handling missing values
## Deleting Column

In [1]:
import pandas as pd
import numpy as np

df=pd.read_csv(r"https://raw.githubusercontent.com/rsharankumar/Learn_Data_Science_in_100Days/master/Day12%20-%20Missing%20Values%20and%20Handling%20Them/Data/SearchTrendData_WithMissing.csv")
df.head()

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
0,20/09/2015,32.0,9.0,11.0,11.0,4.0
1,27/09/2015,35.0,10.0,11.0,11.0,4.0
2,4/10/2015,38.0,10.0,12.0,11.0,4.0
3,11/10/2015,37.0,9.0,12.0,10.0,4.0
4,18/10/2015,38.0,9.0,12.0,10.0,4.0

In [4]:
t_data=df[:20]
t_data=t_data.reset_index(drop=True)
t_data

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
0,20/09/2015,32.0,9.0,11.0,11.0,4.0
1,27/09/2015,35.0,10.0,11.0,11.0,4.0
2,4/10/2015,38.0,10.0,12.0,11.0,4.0
3,11/10/2015,37.0,9.0,12.0,10.0,4.0
4,18/10/2015,38.0,9.0,12.0,10.0,4.0
5,25/10/2015,38.0,10.0,NaN,11.0,4.0
6,1/11/2015,37.0,9.0,13.0,11.0,3.0
7,8/11/2015,35.0,8.0,14.0,12.0,5.0
8,15/11/2015,35.0,9.0,13.0,12.0,4.0
9,22/11/2015,31.0,8.0,12.0,10.0,4.0
10,29/11/2015,NaN,9.0,13.0,11.0,4.0
11,6/12/2015,33.0,9.0,13.0,12.0,5.0
12,13/12/2015,30.0,9.0,14.0,11.0,NaN
13,20/12/2015,17.0,7.0,11.0,9.0,4.0
14,27/12/2015,17.0,7.0,10.0,9.0,3.0
15,3/01/2016,24.0,10.0,12.0,14.0,4.0
16,10/01/2016,26.0,9.0,12.0,12.0,4.0
17,17/01/2016,26.0,11.0,13.0,11.0,6.0
18,24/01/2016,28.0,11.0,15.0,12.0,7.0
19,31/01/2016,28.0,11.0,14.0,11.0,6.0

In [5]:
print(t_data.isnull())
#print(t_data.notnull())
#print(t_data['DataScience'].isnull())

     Week  eLearning  DataScience  MachineLearning  ArtificialIntelligence  \
0   False      False        False            False                   False
1   False      False        False            False                   False
2   False      False        False            False                   False
3   False      False        False            False                   False
4   False      False        False            False                   False
5   False      False        False             True                   False
6   False      False        False            False                   False
7   False      False        False            False                   False
8   False      False        False            False                   False
9   False      False        False            False                   False
10  False       True        False            False                   False
11  False      False        False            False                   False
12  False      False        False            False                   False
13  False      False        False            False                   False
14  False      False        False            False                   False
15  False      False        False            False                   False
16  False      False        False            False                   False
17  False      False        False            False                   False
18  False      False        False            False                   False
19  False      False        False            False                   False

    DeepLearning
0          False
1          False
2          False
3          False
4          False
5          False
6          False
7          False
8          False
9          False
10         False
11         False
12          True
13         False
14         False
15         False
16         False
17         False
18         False
19         False

In [6]:
print(t_data['DataScience'].sum())
#Missing values treated zero here

184.0

##Fetching all record with missing value

In [8]:
t_data[pd.isnull(t_data.eLearning)]

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
10,29/11/2015,NaN,9.0,13.0,11.0,4.0

##Fetching all rows with missing values

In [9]:
t_data[t_data.isnull().any(axis=1)]

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
5,25/10/2015,38.0,10.0,NaN,11.0,4.0
10,29/11/2015,NaN,9.0,13.0,11.0,4.0
12,13/12/2015,30.0,9.0,14.0,11.0,NaN

##Replacing missing values with 0

In [10]:
print(t_data.fillna(0))

          Week  eLearning  DataScience  MachineLearning  \
0   20/09/2015       32.0          9.0             11.0
1   27/09/2015       35.0         10.0             11.0
2    4/10/2015       38.0         10.0             12.0
3   11/10/2015       37.0          9.0             12.0
4   18/10/2015       38.0          9.0             12.0
5   25/10/2015       38.0         10.0              0.0
6    1/11/2015       37.0          9.0             13.0
7    8/11/2015       35.0          8.0             14.0
8   15/11/2015       35.0          9.0             13.0
9   22/11/2015       31.0          8.0             12.0
10  29/11/2015        0.0          9.0             13.0
11   6/12/2015       33.0          9.0             13.0
12  13/12/2015       30.0          9.0             14.0
13  20/12/2015       17.0          7.0             11.0
14  27/12/2015       17.0          7.0             10.0
15   3/01/2016       24.0         10.0             12.0
16  10/01/2016       26.0          9.0             12.0
17  17/01/2016       26.0         11.0             13.0
18  24/01/2016       28.0         11.0             15.0
19  31/01/2016       28.0         11.0             14.0

    ArtificialIntelligence  DeepLearning
0                     11.0           4.0
1                     11.0           4.0
2                     11.0           4.0
3                     10.0           4.0
4                     10.0           4.0
5                     11.0           4.0
6                     11.0           3.0
7                     12.0           5.0
8                     12.0           4.0
9                     10.0           4.0
10                    11.0           4.0
11                    12.0           5.0
12                    11.0           0.0
13                     9.0           4.0
14                     9.0           3.0
15                    14.0           4.0
16                    12.0           4.0
17                    11.0           6.0
18                    12.0           7.0
19                    11.0           6.0

##Replacing missing value with mean

In [11]:
print(t_data['eLearning'].fillna(t_data['eLearning'].mean))

0                                                  32.0
1                                                  35.0
2                                                  38.0
3                                                  37.0
4                                                  38.0
5                                                  38.0
6                                                  37.0
7                                                  35.0
8                                                  35.0
9                                                  31.0
10    <bound method NDFrame._add_numeric_operations....
11                                                 33.0
12                                                 30.0
13                                                 17.0
14                                                 17.0
15                                                 24.0
16                                                 26.0
17                                                 26.0
18                                                 28.0
19                                                 28.0
Name: eLearning, dtype: object

##Use pad/forward fill to replace missing values

In [12]:
print(t_data.fillna(method='pad'))

          Week  eLearning  DataScience  MachineLearning  \
0   20/09/2015       32.0          9.0             11.0
1   27/09/2015       35.0         10.0             11.0
2    4/10/2015       38.0         10.0             12.0
3   11/10/2015       37.0          9.0             12.0
4   18/10/2015       38.0          9.0             12.0
5   25/10/2015       38.0         10.0             12.0
6    1/11/2015       37.0          9.0             13.0
7    8/11/2015       35.0          8.0             14.0
8   15/11/2015       35.0          9.0             13.0
9   22/11/2015       31.0          8.0             12.0
10  29/11/2015       31.0          9.0             13.0
11   6/12/2015       33.0          9.0             13.0
12  13/12/2015       30.0          9.0             14.0
13  20/12/2015       17.0          7.0             11.0
14  27/12/2015       17.0          7.0             10.0
15   3/01/2016       24.0         10.0             12.0
16  10/01/2016       26.0          9.0             12.0
17  17/01/2016       26.0         11.0             13.0
18  24/01/2016       28.0         11.0             15.0
19  31/01/2016       28.0         11.0             14.0

    ArtificialIntelligence  DeepLearning
0                     11.0           4.0
1                     11.0           4.0
2                     11.0           4.0
3                     10.0           4.0
4                     10.0           4.0
5                     11.0           4.0
6                     11.0           3.0
7                     12.0           5.0
8                     12.0           4.0
9                     10.0           4.0
10                    11.0           4.0
11                    12.0           5.0
12                    11.0           5.0
13                     9.0           4.0
14                     9.0           3.0
15                    14.0           4.0
16                    12.0           4.0
17                    11.0           6.0
18                    12.0           7.0
19                    11.0           6.0

In [13]:
print(t_data.fillna(method='backfill'))

          Week  eLearning  DataScience  MachineLearning  \
0   20/09/2015       32.0          9.0             11.0
1   27/09/2015       35.0         10.0             11.0
2    4/10/2015       38.0         10.0             12.0
3   11/10/2015       37.0          9.0             12.0
4   18/10/2015       38.0          9.0             12.0
5   25/10/2015       38.0         10.0             13.0
6    1/11/2015       37.0          9.0             13.0
7    8/11/2015       35.0          8.0             14.0
8   15/11/2015       35.0          9.0             13.0
9   22/11/2015       31.0          8.0             12.0
10  29/11/2015       33.0          9.0             13.0
11   6/12/2015       33.0          9.0             13.0
12  13/12/2015       30.0          9.0             14.0
13  20/12/2015       17.0          7.0             11.0
14  27/12/2015       17.0          7.0             10.0
15   3/01/2016       24.0         10.0             12.0
16  10/01/2016       26.0          9.0             12.0
17  17/01/2016       26.0         11.0             13.0
18  24/01/2016       28.0         11.0             15.0
19  31/01/2016       28.0         11.0             14.0

    ArtificialIntelligence  DeepLearning
0                     11.0           4.0
1                     11.0           4.0
2                     11.0           4.0
3                     10.0           4.0
4                     10.0           4.0
5                     11.0           4.0
6                     11.0           3.0
7                     12.0           5.0
8                     12.0           4.0
9                     10.0           4.0
10                    11.0           4.0
11                    12.0           5.0
12                    11.0           4.0
13                     9.0           4.0
14                     9.0           3.0
15                    14.0           4.0
16                    12.0           4.0
17                    11.0           6.0
18                    12.0           7.0
19                    11.0           6.0

In [14]:
 print(t_data.dropna())

          Week  eLearning  DataScience  MachineLearning  \
0   20/09/2015       32.0          9.0             11.0
1   27/09/2015       35.0         10.0             11.0
2    4/10/2015       38.0         10.0             12.0
3   11/10/2015       37.0          9.0             12.0
4   18/10/2015       38.0          9.0             12.0
6    1/11/2015       37.0          9.0             13.0
7    8/11/2015       35.0          8.0             14.0
8   15/11/2015       35.0          9.0             13.0
9   22/11/2015       31.0          8.0             12.0
11   6/12/2015       33.0          9.0             13.0
13  20/12/2015       17.0          7.0             11.0
14  27/12/2015       17.0          7.0             10.0
15   3/01/2016       24.0         10.0             12.0
16  10/01/2016       26.0          9.0             12.0
17  17/01/2016       26.0         11.0             13.0
18  24/01/2016       28.0         11.0             15.0
19  31/01/2016       28.0         11.0             14.0

    ArtificialIntelligence  DeepLearning
0                     11.0           4.0
1                     11.0           4.0
2                     11.0           4.0
3                     10.0           4.0
4                     10.0           4.0
6                     11.0           3.0
7                     12.0           5.0
8                     12.0           4.0
9                     10.0           4.0
11                    12.0           5.0
13                     9.0           4.0
14                     9.0           3.0
15                    14.0           4.0
16                    12.0           4.0
17                    11.0           6.0
18                    12.0           7.0
19                    11.0           6.0

In [15]:
del t_data['DeepLearning']
print(t_data)

          Week  eLearning  DataScience  MachineLearning  \
0   20/09/2015       32.0          9.0             11.0
1   27/09/2015       35.0         10.0             11.0
2    4/10/2015       38.0         10.0             12.0
3   11/10/2015       37.0          9.0             12.0
4   18/10/2015       38.0          9.0             12.0
5   25/10/2015       38.0         10.0              NaN
6    1/11/2015       37.0          9.0             13.0
7    8/11/2015       35.0          8.0             14.0
8   15/11/2015       35.0          9.0             13.0
9   22/11/2015       31.0          8.0             12.0
10  29/11/2015        NaN          9.0             13.0
11   6/12/2015       33.0          9.0             13.0
12  13/12/2015       30.0          9.0             14.0
13  20/12/2015       17.0          7.0             11.0
14  27/12/2015       17.0          7.0             10.0
15   3/01/2016       24.0         10.0             12.0
16  10/01/2016       26.0          9.0             12.0
17  17/01/2016       26.0         11.0             13.0
18  24/01/2016       28.0         11.0             15.0
19  31/01/2016       28.0         11.0             14.0

    ArtificialIntelligence
0                     11.0
1                     11.0
2                     11.0
3                     10.0
4                     10.0
5                     11.0
6                     11.0
7                     12.0
8                     12.0
9                     10.0
10                    11.0
11                    12.0
12                    11.0
13                     9.0
14                     9.0
15                    14.0
16                    12.0
17                    11.0
18                    12.0
19                    11.0