#Topics to be covered


*   Rename - To rename index or a column
*   Replace - To replace a value with new value

In [ ]:
import pandas as pd
import numpy as np
trend_data=pd.read_csv(r"https://raw.githubusercontent.com/rsharankumar/Learn_Data_Science_in_100Days/master/Day13%20-%20Rename%20and%20Replace/Data/SearchTrendData.csv")
trend_data.head()

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
0,20/09/2015,32,9,11,11,4
1,27/09/2015,35,10,11,11,4
2,4/10/2015,38,10,12,11,4
3,11/10/2015,37,9,12,10,4
4,18/10/2015,38,9,12,10,4

##Rename a Column of a dataframe

In [ ]:
td1=trend_data.rename(columns={"MachineLearning":'ML'})
td1.head()

,Week,eLearning,DataScience,ML,ArtificialIntelligence,DeepLearning
0,20/09/2015,32,9,11,11,4
1,27/09/2015,35,10,11,11,4
2,4/10/2015,38,10,12,11,4
3,11/10/2015,37,9,12,10,4
4,18/10/2015,38,9,12,10,4

##Rename Index

In [ ]:
td2=trend_data.rename(index={0:'a',1:'b'})
td2.head()

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
a,20/09/2015,32,9,11,11,4
b,27/09/2015,35,10,11,11,4
2,4/10/2015,38,10,12,11,4
3,11/10/2015,37,9,12,10,4
4,18/10/2015,38,9,12,10,4

##Giving name to axis

In [8]:
td3=trend_data.rename_axis("Dates",axis="rows").rename_axis("Topics",axis="columns")
td3.head()

Topics,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
Dates,,,,,,
0,20/09/2015,32,9,11,11,4
1,27/09/2015,35,10,11,11,4
2,4/10/2015,38,10,12,11,4
3,11/10/2015,37,9,12,10,4
4,18/10/2015,38,9,12,10,4

##Renaming by  Passing the new values

In [9]:
td4=trend_data
td4.columns=['WK','eL','DS','ML','AI','DL']
print(td4)

             WK  eL  DS  ML  AI  DL
0    20/09/2015  32   9  11  11   4
1    27/09/2015  35  10  11  11   4
2     4/10/2015  38  10  12  11   4
3    11/10/2015  37   9  12  10   4
4    18/10/2015  38   9  12  10   4
..          ...  ..  ..  ..  ..  ..
256  16/08/2020  41  36  40  22  14
257  23/08/2020  49  39  40  21  14
258  30/08/2020  62  37  40  21  14
259   6/09/2020  74  38  42  24  14
260  13/09/2020  80  39  39  21  14

[261 rows x 6 columns]

##Default string in the header

In [10]:
td5=trend_data
td5.columns = ['$Week','eLearn','$DS','$ML','AI','DL']
td5.columns=td5.columns.str.replace('$','')
print(td5)

           Week  eLearn  DS  ML  AI  DL
0    20/09/2015      32   9  11  11   4
1    27/09/2015      35  10  11  11   4
2     4/10/2015      38  10  12  11   4
3    11/10/2015      37   9  12  10   4
4    18/10/2015      38   9  12  10   4
..          ...     ...  ..  ..  ..  ..
256  16/08/2020      41  36  40  22  14
257  23/08/2020      49  39  40  21  14
258  30/08/2020      62  37  40  21  14
259   6/09/2020      74  38  42  24  14
260  13/09/2020      80  39  39  21  14

[261 rows x 6 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

##Replace Using LOC

In [11]:
t_data=trend_data[-10:]
t_data=t_data.reset_index(drop=True)
print(t_data)

         Week  eLearn  DS  ML  AI  DL
0  12/07/2020      58  36  40  21  15
1  19/07/2020      55  36  40  21  14
2  26/07/2020      43  34  39  20  14
3   2/08/2020      44  34  37  20  13
4   9/08/2020      44  35  38  21  13
5  16/08/2020      41  36  40  22  14
6  23/08/2020      49  39  40  21  14
7  30/08/2020      62  37  40  21  14
8   6/09/2020      74  38  42  24  14
9  13/09/2020      80  39  39  21  14

In [14]:
#Using loc
print(t_data.loc[0,'DS'])

36

In [15]:
t_data.loc[0,'DS']=40
t_data.head()

         Week  eLearn  DS  ML  AI  DL
0  12/07/2020      58  40  40  21  15
1  19/07/2020      55  36  40  21  14
2  26/07/2020      43  34  39  20  14
3   2/08/2020      44  34  37  20  13
4   9/08/2020      44  35  38  21  13

##Replace Using AT

In [17]:
#Replace using at
t_data.at[1,'DataScience'] = 40
t_data.head()

         Week  eLearn  DS  ML  AI  DL  (1, DataScience)  DataScience
0  12/07/2020      58  40  40  21  15                40          NaN
1  19/07/2020      55  36  40  21  14                40         40.0
2  26/07/2020      43  34  39  20  14                40          NaN
3   2/08/2020      44  34  37  20  13                40          NaN
4   9/08/2020      44  35  38  21  13                40          NaN

##Using Replace

In [18]:
t_data.replace(40,42)

         Week  eLearn  DS  ML  AI  DL  (1, DataScience)  DataScience
0  12/07/2020      58  42  42  21  15                42          NaN
1  19/07/2020      55  36  42  21  14                42         42.0
2  26/07/2020      43  34  39  20  14                42          NaN
3   2/08/2020      44  34  37  20  13                42          NaN
4   9/08/2020      44  35  38  21  13                42          NaN
5  16/08/2020      41  36  42  22  14                42          NaN
6  23/08/2020      49  39  42  21  14                42          NaN
7  30/08/2020      62  37  42  21  14                42          NaN
8   6/09/2020      74  38  42  24  14                42          NaN
9  13/09/2020      80  39  39  21  14                42          NaN

In [19]:
t_data.head()

         Week  eLearn  DS  ML  AI  DL  (1, DataScience)  DataScience
0  12/07/2020      58  40  40  21  15                40          NaN
1  19/07/2020      55  36  40  21  14                40         40.0
2  26/07/2020      43  34  39  20  14                40          NaN
3   2/08/2020      44  34  37  20  13                40          NaN
4   9/08/2020      44  35  38  21  13                40          NaN

##Replace with inplace

In [20]:
t_data.replace(40,42,inplace=True)
t_data.head()

         Week  eLearn  DS  ML  AI  DL  (1, DataScience)  DataScience
0  12/07/2020      58  42  42  21  15                42          NaN
1  19/07/2020      55  36  42  21  14                42         42.0
2  26/07/2020      43  34  39  20  14                42          NaN
3   2/08/2020      44  34  37  20  13                42          NaN
4   9/08/2020      44  35  38  21  13                42          NaN

##Replace a list of item

In [21]:
t_data.replace(to_replace=[42,21,15],value=[142,121,115])

         Week  eLearn   DS   ML   AI   DL  (1, DataScience)  DataScience
0  12/07/2020      58  142  142  121  115               142          NaN
1  19/07/2020      55   36  142  121   14               142        142.0
2  26/07/2020      43   34   39   20   14               142          NaN
3   2/08/2020      44   34   37   20   13               142          NaN
4   9/08/2020      44   35   38  121   13               142          NaN
5  16/08/2020      41   36  142   22   14               142          NaN
6  23/08/2020      49   39  142  121   14               142          NaN
7  30/08/2020      62   37  142  121   14               142          NaN
8   6/09/2020      74   38  142   24   14               142          NaN
9  13/09/2020      80   39   39  121   14               142          NaN

In [22]:
trend_data=pd.read_csv(r"https://raw.githubusercontent.com/rsharankumar/Learn_Data_Science_in_100Days/master/Day13%20-%20Rename%20and%20Replace/Data/SearchTrendData_WithMissing.csv")
t_m=trend_data[:20]
t_m=t_m.reset_index(drop=True)
print(t_m)

          Week  eLearning  DataScience  MachineLearning  \
0   20/09/2015       32.0          9.0             11.0
1   27/09/2015       35.0         10.0             11.0
2    4/10/2015       38.0         10.0             12.0
3   11/10/2015       37.0          9.0             12.0
4   18/10/2015       38.0          9.0             12.0
5   25/10/2015       38.0         10.0              NaN
6    1/11/2015       37.0          9.0             13.0
7    8/11/2015       35.0          8.0             14.0
8   15/11/2015       35.0          9.0             13.0
9   22/11/2015       31.0          8.0             12.0
10  29/11/2015        NaN          9.0             13.0
11   6/12/2015       33.0          9.0             13.0
12  13/12/2015       30.0          9.0             14.0
13  20/12/2015       17.0          7.0             11.0
14  27/12/2015       17.0          7.0             10.0
15   3/01/2016       24.0         10.0             12.0
16  10/01/2016       26.0          9.0             12.0
17  17/01/2016       26.0         11.0             13.0
18  24/01/2016       28.0         11.0             15.0
19  31/01/2016       28.0         11.0             14.0

    ArtificialIntelligence  DeepLearning
0                     11.0           4.0
1                     11.0           4.0
2                     11.0           4.0
3                     10.0           4.0
4                     10.0           4.0
5                     11.0           4.0
6                     11.0           3.0
7                     12.0           5.0
8                     12.0           4.0
9                     10.0           4.0
10                    11.0           4.0
11                    12.0           5.0
12                    11.0           NaN
13                     9.0           4.0
14                     9.0           3.0
15                    14.0           4.0
16                    12.0           4.0
17                    11.0           6.0
18                    12.0           7.0
19                    11.0           6.0

##Replace forwardfill and backfill

In [23]:
t_m.replace(value=None,method='ffill')

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
0,20/09/2015,32.0,9.0,11.0,11.0,4.0
1,27/09/2015,35.0,10.0,11.0,11.0,4.0
2,4/10/2015,38.0,10.0,12.0,11.0,4.0
3,11/10/2015,37.0,9.0,12.0,10.0,4.0
4,18/10/2015,38.0,9.0,12.0,10.0,4.0
5,25/10/2015,38.0,10.0,12.0,11.0,4.0
6,1/11/2015,37.0,9.0,13.0,11.0,3.0
7,8/11/2015,35.0,8.0,14.0,12.0,5.0
8,15/11/2015,35.0,9.0,13.0,12.0,4.0
9,22/11/2015,31.0,8.0,12.0,10.0,4.0
10,29/11/2015,31.0,9.0,13.0,11.0,4.0
11,6/12/2015,33.0,9.0,13.0,12.0,5.0
12,13/12/2015,30.0,9.0,14.0,11.0,5.0
13,20/12/2015,17.0,7.0,11.0,9.0,4.0
14,27/12/2015,17.0,7.0,10.0,9.0,3.0
15,3/01/2016,24.0,10.0,12.0,14.0,4.0
16,10/01/2016,26.0,9.0,12.0,12.0,4.0
17,17/01/2016,26.0,11.0,13.0,11.0,6.0
18,24/01/2016,28.0,11.0,15.0,12.0,7.0
19,31/01/2016,28.0,11.0,14.0,11.0,6.0

In [24]:
t_m.replace(value=None,method='bfill')

,Week,eLearning,DataScience,MachineLearning,ArtificialIntelligence,DeepLearning
0,20/09/2015,32.0,9.0,11.0,11.0,4.0
1,27/09/2015,35.0,10.0,11.0,11.0,4.0
2,4/10/2015,38.0,10.0,12.0,11.0,4.0
3,11/10/2015,37.0,9.0,12.0,10.0,4.0
4,18/10/2015,38.0,9.0,12.0,10.0,4.0
5,25/10/2015,38.0,10.0,13.0,11.0,4.0
6,1/11/2015,37.0,9.0,13.0,11.0,3.0
7,8/11/2015,35.0,8.0,14.0,12.0,5.0
8,15/11/2015,35.0,9.0,13.0,12.0,4.0
9,22/11/2015,31.0,8.0,12.0,10.0,4.0
10,29/11/2015,33.0,9.0,13.0,11.0,4.0
11,6/12/2015,33.0,9.0,13.0,12.0,5.0
12,13/12/2015,30.0,9.0,14.0,11.0,4.0
13,20/12/2015,17.0,7.0,11.0,9.0,4.0
14,27/12/2015,17.0,7.0,10.0,9.0,3.0
15,3/01/2016,24.0,10.0,12.0,14.0,4.0
16,10/01/2016,26.0,9.0,12.0,12.0,4.0
17,17/01/2016,26.0,11.0,13.0,11.0,6.0
18,24/01/2016,28.0,11.0,15.0,12.0,7.0
19,31/01/2016,28.0,11.0,14.0,11.0,6.0